<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fitt.sixawn.mapper.UserMapper">
    <sql id="allColumns">
        a.id, a.code, a.name, a.nick, a.password, a.mobile, a.avatar, a.birth, a.gender, a.email, a.type, a.word, a.skills,
        a.description, a.id_card, a.wechat_id, a.wechat_name, a.wechat_openid, a.wechat_headimage,
        a.dinktalk_uid, a.dinktalk_nick, a.first_login, a.extract, a.status, a.creator, a.created, a.modifier, a.modified
    </sql>
</mapper>